<br>
<div class="container">

    <div class="card-group">

        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Total</h4>
                <p class="card-text">{{valorTotalCarteira | currency : 'BRL'}}</p>
                
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Ação</h4>
                <p class="card-text">{{valorTotalCarteiraACAO | currency : 'BRL'}} <br> {{valorTotalCarteiraACAO/valorTotalCarteira*100 | number : '1.2-2' }}%</p>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Fundos Imobiliários</h4>
                <p class="card-text">{{valorTotalCarteiraFII | currency : 'BRL'}} <br> {{valorTotalCarteiraFII/valorTotalCarteira*100 | number : '1.2-2' }}%</p>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h4 class="card-title">BDR</h4>
                <p class="card-text">{{valorTotalCarteiraBDR | currency : 'BRL'}} <br> {{valorTotalCarteiraBDR/valorTotalCarteira*100 | number : '1.2-2' }}%</p>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Renda Fixa</h4>
                <p class="card-text">{{valorTotalCarteiraRENDAFIXA | currency : 'BRL'}} <br> {{valorTotalCarteiraRENDAFIXA/valorTotalCarteira*100 | number : '1.2-2' }}%</p>
            </div>
        </div>

    </div>


</div>
<br>