#titulo {
    font-size: 6rem;
    line-height: 1;
    text-align: center;
    font-weight: 900;
}
#sub-titulo {
    font-size: 3rem;
    line-height: 1;
    text-align: center;
    font-weight: 900;
}

div {
    position: absolute;
    align-content: center;
    height: 70%;
    width: 100%;
}

