<mat-toolbar color="primary">

    <button mat-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
    <mat-menu #menu="matMenu">
    

    <a href="" class="link-offset-2 link-underline link-underline-opacity-0"><button mat-menu-item><mat-icon>home</mat-icon>Home</button></a>
    <a href="portfolio" class="link-offset-2 link-underline link-underline-opacity-0"><button mat-menu-item>Portfolio</button></a>
    <a href="receitasdespesas" class="link-offset-2 link-underline link-underline-opacity-0"><button mat-menu-item>Receitas e despesas</button></a>

    </mat-menu>

    <span class="example-spacer"></span>

    <span id="titulo">FinanceApp</span>

    <span class="example-spacer"></span>

</mat-toolbar>