<div class="container ">


    <mat-grid-list cols="5" rowHeight="120px">

        <mat-card appearance="outlined">
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-card-header>
                    <mat-card-title> Total: {{total|currency:'BRL'}}</mat-card-title>
                    <mat-card-subtitle>{{total/total|percent:"1.0-2"}}</mat-card-subtitle>
                </mat-card-header>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-card-header>
                    <mat-card-title> Ação: {{acao|currency:'BRL'}}</mat-card-title>
                    <mat-card-subtitle>meta: 25%</mat-card-subtitle>
                    <mat-card-subtitle
                        [style]="(acao/total)<0.25?'color:red':''">{{acao/total|percent:"1.0-2"}}</mat-card-subtitle>
                </mat-card-header>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-card-header>
                    <mat-card-title> BDR: {{bdr|currency:'BRL'}}</mat-card-title>
                    <mat-card-subtitle>meta: 5%</mat-card-subtitle>
                    <mat-card-subtitle
                        [style]="(bdr/total)<0.05?'color:red':''">{{bdr/total|percent:"1.0-2"}}</mat-card-subtitle>
                </mat-card-header>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-card-header>
                    <mat-card-title> FII: {{fii|currency:'BRL'}}</mat-card-title>
                    <mat-card-subtitle>meta: 60%</mat-card-subtitle>
                    <mat-card-subtitle
                        [style]="(fii/total)<0.60?'color:red':''">{{fii/total|percent:"1.0-2"}}</mat-card-subtitle>
                </mat-card-header>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-card-header>
                    <mat-card-title> Renda Fixa: {{rendaFixa|currency:'BRL'}}</mat-card-title>
                    <mat-card-subtitle>meta: 10%</mat-card-subtitle>
                    <mat-card-subtitle
                        [style]="(rendaFixa/total)<0.10?'color:red':''">{{rendaFixa/total|percent:"1.0-2"}}</mat-card-subtitle>
                </mat-card-header>
            </mat-grid-tile>

        </mat-card>

    </mat-grid-list>
    <hr>
    <br>
</div>
