<div class="container porfolioClass">
    <app-painel></app-painel>
</div>

<div class="container">

    <div style="text-align: center;">
        <label for="searchTipo" style="padding: 5px;">Buscar</label>
        <input type="text" name="searchTipo" id="" (change)="searchTerm($event)">

    </div>

    <br>

    <table class="table table-hover">

        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Ativo</th>
                <th scope="col">Cotacao</th>
                <th scope="col">Preco Medio Ano Corrente</th>
                <th scope="col">Preco Maximo 6%</th>
                <th scope="col">Dy</th>
                <th scope="col">Quantidade</th>
                <th scope="col">Valor</th>
                <th scope="col">Variação Anual</th>
                <th scope="col">Porcentagem</th>
                <th scope="col">Meta</th>
                @if (searchTermAtivo == true) {
                <th scope="col">Meta Relativa</th>
                }
                @else {

                }

                <th scope="col">Status</th>
                <th scope="col">Tipo</th>
                <th scope="col">Aporte</th>
                <th scope="col">Cotas</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @for (item of portfolio; track $index) {

  

            <tr class="tr.tbody">
                <td>{{$index}}</td>

                <!-- Button modal -->
                <td id="ativo">
                    <!-- Button trigger modal -->
                    <button id="buttonAtivo" *ngIf=" item.status == 'comprar'" type="button" class="btn btn-primary"
                        data-bs-toggle="modal" [attr.data-bs-target]="'#exampleModal'+item.id">
                        {{item.ativo}}
                    </button>
                    <button id="buttonAtivo" *ngIf=" item.status == 'aguardar'" type="button" class="btn btn-warning"
                        data-bs-toggle="modal" [attr.data-bs-target]="'#exampleModal'+item.id">
                        {{item.ativo}}
                    </button>
                    <button id="buttonAtivo" *ngIf=" item.status == ''" type="button" class="btn btn-success"
                        data-bs-toggle="modal" [attr.data-bs-target]="'#exampleModal'+item.id">
                        {{item.ativo}}
                    </button>
                    <button id="buttonAtivo" *ngIf=" item.status == 'vender'" type="button" class="btn btn-danger"
                        data-bs-toggle="modal" [attr.data-bs-target]="'#exampleModal'+item.id">
                        {{item.ativo}}
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal{{item.id}}" tabindex="-1"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">{{item.ativo}}</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <ul>
                                        <li>O que a empresa faz? </li>
                                        <li>Como a empresa ganha dinheiro?</li>
                                        <li>Quais são suas vantagens competitivas?</li>
                                        <li>Quais são os riscos? </li>
                                        <li>Quanto ela gera de receita, lucro e caixa?</li>
                                        <li>Possui dívidas?</li>
                                    </ul>
                                    <textarea (change)="atualizarComentario($event,item.id)" name="" id="" cols="65" rows="26">{{item.comentarios}}</textarea>
                                </div>
                                <div class="modal-footer">
                                    <!-- Nao coloque Atualizar comentario no botao, pois ele ira capturar nenhum texto do evento botao -->
                                    <button type="button"  class="btn btn-primary" data-bs-dismiss="modal">Save/Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>


                <td [style]="item.cotacao < item.precoMedio ? 'color:lightgreen':''">{{item.cotacao|currency:'BRL'}}</td>

                <!-- PrecoMedio -->
                <td style="width:175px"> 
                    <div class="input-group input-group-sm mb-3" >
                        <span class="input-group-text">R$</span>
                        <input type="number" class="form-control" id="meta" aria-label="Amount (to the nearest dollar)"
                        value="{{item.precoMedio }}" (change)="precoMedio($event,item.id)"  name="meta" step="0.1"
                        style="text-align: center;"
                        >
                        
                    </div>
                </td>

                <!-- precoTeto Valuation -->
                <td style="width:175px"> 
                    <div class="input-group input-group-sm mb-3" >
                        <span class="input-group-text">R$</span>
                        <input type="number" class="form-control" id="meta" aria-label="Amount (to the nearest dollar)"
                        value="{{item.valuation }}" (change)="valuation($event,item.id)"  name="meta" step="0.1"
                        style="text-align: center;"
                        [style]="item.cotacao > item.valuation ? 'color:red':'color:lightgreen'"
                        >
                        
                    </div>
                </td>

                <!-- DY -->
                <td>{{item.dy}}%</td>

                <!-- Quantidade -->
                <td>{{item.quantidade}}</td>


                <!-- Valor calculado -->
                <td>{{item.valor|currency:'BRL'}}</td>

                <!-- Variacao anual -->

                <td>{{item.variacaoAnual|percent:"1.0-2"}}</td>


                <!-- porcentagem -->
                @if (searchTermAtivo == true) {
                    <td [style]="item.porcentagem*100 < ((item.meta*100)/metaTotalCarteira) ? 'color:red' : ''">{{item.porcentagem|percent:"1.0-2"}}</td>
                    }
                @else{
                    <td [style]="item.porcentagem*100 < item.meta ? 'color:red' : ''">{{item.porcentagem|percent:"1.0-2"}}</td>
                }
                

                <!-- input Meta -->
                <td style="width:125px">
                    <div class="input-group input-group-sm mb-3">
                        <input type="number" class="form-control" id="meta" aria-label="Amount (to the nearest dollar)"
                            value="{{item.meta}}" (change)="atualizarMeta($event,item.id)" name="meta" step="0.1"
                            style="text-align: center; width: 50px;">
                        <span class="input-group-text">%</span>
                    </div>
                </td>

                @if (searchTermAtivo == true) {
                <!-- input relativa não alteravel -->
                <td style="width:125px">
                    <div class="input-group input-group-sm mb-3">
                        <input type="number" class="form-control" id="meta" aria-label="Amount (to the nearest dollar)"
                            value="{{((item.meta*100)/metaTotalCarteira).toFixed(2)}}" name="meta" step="0.1"
                            style="text-align: center; width: 50px;">
                        <span class="input-group-text">%</span>
                    </div>
                </td>
                }
                @else {

                }



                <!-- Status -->
                <td style="align-items: center;">
                    <select (change)="atualizarStatus($event,item.id)" class="form-select form-select-sm"
                        aria-label="Default select example" style="width: 135px;">
                        <option selected>{{item.status|uppercase}}</option>
                        <option value="1">Comprar</option>
                        <option value="2">Aguardar</option>
                        <option value="3">Vender</option>
                    </select>
                </td>

                <!-- Tipo -->
                <td>{{item.tipo|uppercase}}</td>

                <!-- Aporte -->
                <td class="aporte">{{item.aporte|currency:'BRL'}}</td>

                <!-- Cota -->
                <td>
                    <div class="input-group input-group-sm mb-3">
                        <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)" value="0"
                            name="cota" step="1" (change)="calculoCotas($event,item.id)"
                            style="text-align: center; width: 50px;">

                    </div>
                </td>

                <!-- Sinal para comprar abaixo do preco medio -->
                <td>
                    @if(item.cotacao < item.precoMedio && (item.porcentagem*100) < item.meta){
                        <img src="../../../../assets/location.png" alt="" srcset="" width="20px" title="A cotacao esta abaixo do preço medio e a meta não foi batida, excelente momento para compra" >
                    }
                </td>

            </tr>

            }

        </tbody>
        <tfoot>
            <tr>
                <th scope="col">#</th>
                <th scope="col">
                    @if (!atualizandosincronizarDownload) {
                    <button class="btn " (click)="sincronizarDownload()"><b>Sinc with OneDrive </b> <img
                            src="../../../../assets/onedrive.png" width="45px" alt="" title="Sincronizar com OneDrive"
                            srcset=""></button>

                    }
                    @else {

                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>

                    }

                </th>

                <th scope="col">
                    @if (!atualizandoCotacao) {
                    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="refresh"
                        (click)="atualizarCotacoesDaCarteira()"></mat-icon>

                    }
                    @else {

                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>

                    }

                </th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col">{{quantidadeTotalCarteira}}</th>
                <th scope="col">{{valorTotalCarteira|currency:'BRL'}}</th>
                <th scope="col">{{variacaoAnualTotalDaCarteira|percent:'1.0-2'}}</th>
                <th scope="col">{{porcentagemTotalCarteira|percent:'1.0-2'}}</th>

                <th scope="col" style="width: 150px">
                    <div class="input-group input-group-sm mb-3">
                        <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)"
                            [value]="metaTotalCarteira | number : '1.0-2'" name="meta"
                            style="text-align: center;  font-weight: 900;">
                        <span class="input-group-text">%</span>
                    </div>
                </th>

                @if (searchTermAtivo == true) {
                    <th scope="col"></th>
                }
                @else {

                }

                <th scope="col">Status</th>
                <th scope="col">Tipo</th>
                <th scope="col" id="aporteValorTotal">{{valorTotalAporte|currency:'BRL'}}</th>
                <th scope="col">Cotas</th>
                <th scope="col"></th>

            </tr>
        </tfoot>
    </table>
</div>


<br>
@if (!atualizandoFile) {
<div class="container mb-3 fileupload">
    <label for="formFile" class="form-label">Coloque sua carteira B3 .XLSX</label>
    <input class="form-control" type="file" id="formFile" (change)="fileB3($event)" multiple="false" accept=".xlsx">

</div>

<div class="container mb-3 fileupload">
    <p>Passos:</p>
    <ol>
        <li>
            <a href="https://www.investidor.b3.com.br/login?utm_source=B3_MVP&utm_medium=HM_PF&utm_campaign=menu"
                target="_blank">Área do Investidor</a>
        </li>
        <li>
            Aba posição
        </li>
        <li>
            Baixar o relatorio Investimentos em XLSX
        </li>
        <li>
            Realizar Upload do arquivo
        </li>
    </ol>
    <p>Para baixar o arquivo para calcular o preco medio é necessario o relatorio de extratos negociacoes, mude o filtro para o ano atual</p>
</div>

}
@else {

<div class="spinner-border file" role="status">
    <span class="visually-hidden">Loading...</span>
</div>

}

